<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/blue.css">
        <%- include('header'); -%>
    </head>
    <body>
        <div id='main-div'>
            <button class="main-button" id="veex">VEEx</button>
            <button class="main-button" id="geex">GEEx</button>
            <button class="main-button" id="xeex">XEEx</button>
            <button class="main-button" id="alabama">4670</button>
        </div>
        <script src="js/blue.js"></script>
    </body>
</html>