<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/header.css">
  <div id="header-div"> 
    <div id="banner">
        <button id="home-btn">HOME</button>
        <button id="veex-btn">VEEx</button>
        <button id="geex-btn">GEEx</button>
        <button id="xeex-btn">XEEx</button>
    </div>
    <div id="feather">
        <img id='feather-img' src="images/Blue_Origin_Feather.svg.png" height="60" width="240">
    </div>
</div>
<script src="js/header.js"></script>
</head>