<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/veexTR.css">
        <%- include('header'); -%>
    </head>
    <body>
        <button id='test-xeex'></button>
        <h3 id="terminal-title">XEEx Terminal</h3>
        <div id='legend-div'>
            <p>
                <label for="open-legend" class="legend-label">Available</label>
                <button id="open-legend"></button>
                <label for="pre-legend" class="legend-label">Pre-Allocated</label>
                <button id="pre-legend"></button>
                <label for="taken-legend" class="legend-label">Taken</label>
                <button id="taken-legend"></button>
                <label for='show-val'>Show Value</label>
                <input type="checkbox" id="show-val">
            </p>
        </div>
        <div id="search-div">
            <div id="search-form-div">
                <input type="text" name="search" id='search-box' autocomplete="off">
                <button id="search-btn">Search</button>
            </div>
            <div id="search-results-div">

            </div>
        </div>
        <div class="draggable-window" id="draggableWindow">
            <div class="window-header" id="windowHeader">Display Info</div>
            <div class="window-content">
               
                <div id="display-info" class="display-read"></div>
            </div>
          </div>
        <div>
            <h2>DAS CHANNELS</h2>
            <!-- <div id="das1-target" class="display-read"></div> -->
            <div id="das"></div>
        </div>

        <div>
            <h2>FVC DO CHANNELS</h2>
            <!-- <div id="fvc-do-target"></div> -->
            <div id="fvc-do"></div>
        </div>
        <div>
            <h2>FVC DI CHANNELS</h2>
            
            <!-- <div id="fvc-di-target"></div> -->
            <div id="fvc-di"></div>
        </div>
        <div id="custom-menu" class="custom-menu">
            <ul>
            <li data-action="action1" id="display-classes">Read Value</li>
            <li data-action="action2" id="write-name">Write Name</li>
            <li data-action="action3" id="write-value">Write Value</li>
            </ul>
        </div>
        <button id='svn-update'>UPDATE</button>
        <button id="svn-commit">COMMIT</button>
        <script src="js/xeexTR.js"></script>
    </body> 
</html>